{% extends 'base.html' %}
<!-- {% import 'macros.html' as macro%} -->


{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class = "col-md-12">
            <h3 class="text-center">TODAY'S TOP HEADLINES</h3>
            <div class="wrapper">
                <img src="https://t4.ftcdn.net/jpg/03/37/92/49/360_F_337924964_fF6I0iZkv9lvoIEn71f0OsgawArIPPDu.jpg">
                
            </div> 
            <div class="row">
                {{macro.displaySourcesList(sources) }}
            </div>
        
        </div>
    </div>          
</div>


{% endblock %}