{% extends 'base.html' %}
<!-- {% import 'macros.html' as macro%} -->


{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class = "col-md-12">
            <h3 class="text-center">TODAY'S TOP HEADLINES</h3>
            {%for sources in sources_list %}
            <div class ="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                <div class="card mt-3 pd-3">
                <h3 class="text-center">{{sources.name}}</h3>
                <p class="text-uppercase text-center">{{sources.description}}</p>
                <p >{{sources.category}}</p>
                <a href="/articles/{{sources.id}}"><button class ="btn btn-success">{{ sources.id}}</button></a>
            </div>
            
            </div>
            {% endfor %} 
        
        </div>
    </div>          
</div>
{% endblock %}